[submodule "Goova.JsonDataContractSerializer"]
	path = Goova.JsonDataContractSerializer
	url = https://github.com/gOOvaUY/Goova.JsonDataContractSerializer
[submodule "Plexo.Models"]
	path = Plexo.Models
	url = https://github.com/gOOvaUY/Plexo.Models
